* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #082032;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #082032;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #082032;
}

.header-donasi {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #082032;
  line-height: 50px;
}

a.tbl-biru {
  background: #1597e5;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #fee440;
  text-decoration: none;
}

a.tbl-pink {
  background: #fee440;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #1597e5;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  font-family: verdana;
}

.tengah {
  text-align: center;
  width: 100%;
}

.Dok-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Dokumentasi-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Dokumentasi-list img {
  width: 50%;
  border-radius: 50%;
}

.Dokumentasi-list p {
  font-family: ;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #ffa400;
}

#Donasi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donasi-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Donasi-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kartu-Donasi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kartu-Donasi img {
  height: 150px;
  border-radius: 50%;
}

#kontak {
  background: cornsilk;
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: #ffa400;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #1597e5;
  width: 100%;
  line-height: 50px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav.menu {
    width: 100%;
    margin: 0;
  }

  nav.menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav.menu li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .kartu-Donasi img {
    width: 50%;
  }

  .Dokumentasi-list {
    width: 50%;
  }
}
